<!-- <ng-alt-sidebar-container> -->
    <!-- <ng-alt-sidebar [(opened)]="opened">
        <h5 style="color: white;">Name</h5>
        <ul class="menu">
            <li><a routerLink="" style="text-decoration: none;">Report</a></li>
            <li><a routerLink="/past-request" style="text-decoration: none;">View All</a></li>
            <li><a routerLink="/past-request" style="text-decoration: none;">Logout</a></li>
        </ul>
    </ng-alt-sidebar>
    <div ng-alt-sidebar-content> -->
        <!-- <button (click)=" toggleSidebar()">
            Open Sidebar
        </button> -->
    <!-- </div> -->
<!-- </ng-alt-sidebar-container> -->
<!-- <li><a routerLink="">Dash</a></li>
            <li><a routerLink="">Add con</a></li>
            <li><a routerLink="">Remove</a></li> -->
<!-- <ng-alt-sidebar-container>

 
    <ng-alt-sidebar [(opened)]="opened">
     
      <h5 style="color: white;">Name</h5>
      <ul class="menu">
        <li><a routerLink="" style="text-decoration: none;">Report</a></li>
        <li><a routerLink="/past-request" style="text-decoration: none;">View All</a></li>
        <li><a routerLink="/past-request" style="text-decoration: none;">Logout</a></li>
        love
    </ul>
    </ng-alt-sidebar>


    <div ng-alt-sidebar-content>
        
        <router-outlet></router-outlet> 
      <button (click)="toggleSidebar()">Toggle sidebar</button>
    </div>

  </ng-alt-sidebar-container> -->

  <!-- <div class="sidebar"> -->
    
    <!-- <ul class="list-group mt-5">
        <li class="list-group-item mb-4"><a routerLink="" style="text-decoration: none;">Report</a></li>
        <li class="list-group-item mb-4"><a routerLink="/past-request" style="text-decoration: none;">View All</a></li>
        <li class="list-group-item mb-4"><a routerLink="/past-request" style="text-decoration: none;">Logout</a></li>
    </ul> -->
    <!-- <div class="col-md-3 sideLin sideCol"> -->
        <div class="headTag">
            <a routerLink="/home-page"><h5>CARHEALER</h5></a>
        </div>
     <div class="sidebar sideDes">
    
        <ul class="list-group" style="cursor: pointer;">
          <li class="list-group-item mb-4"><a routerLink="/items/request" style="color: white; text-decoration: none;">Request</a></li>
          <li class="list-group-item mb-4"><a routerLink="/items/view-all" style="color: white; text-decoration: none;">View All</a></li>
          <li class="list-group-item mb-4"><a routerLink="/login" style="color: white; text-decoration: none;">Logout</a></li>
        </ul>
    </div>
   