<footer class="navColor text-light text-center py-3">
    <a href=""><img src="/assets/car-logo7.png" alt="" class="logoImg"></a>
    <p> Copyright &copy; 2023 CARHEALER. All rights reserved.</p>
    <img src="/assets/facebook-removebg-preview.png" alt="" class="imgs">
    <img src="/assets/instagram.png" alt="" class="imgs">
    <img src="/assets/whatsapp.png" alt="" class="imgs">
    <img src="/assets/linkedin.png" alt="" class="imgs">
<br>
<br>
    <p>Privacy Policy | Security</p>
</footer>

