

<app-navbar></app-navbar>
<!-- modal -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" #modal aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    
    <div class="modal-content">
      <form (ngSubmit)="onSubmit()">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Request</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
        <div id="fileSelector">
          <input type="text" [(ngModel)]="vehichleName" placeholder="name of vehicle">
          <br>
          <input type="text" [(ngModel)]="vehichleDescription" placeholder="description of vehicle">
          <br>
           <input (change)="fileSelect($event)" type="file" name="fileUplaod" #fileUpload hidden multiple> 
         <button (click)="fileUpload.click()" type="button" class="btn btn-dark"> Upload Image</button> -->
         <!-- <button (click)="forFiles()" type="button" class="btn btn-dark" *ngIf="loadFiles">Upload File</button>  -->

         <!-- <div>
            <div class="row uploadList" *ngFor="let item of selectedFiles">
              <div class="col-sm-4">{{item.name}}</div>
              <div class="col-sm-4">
                  <div class="progress"> -->
                      <!-- <div class="progress-bar bg-success" [ngStyle]="{'width': item.progress + '%'}"></div> -->
                  <!-- </div>
              </div>
              <div class="col-sm-4">
                      <button type="button" class="btn btn-danger" (click)="removeFile(item)">Remove File</button>
              </div>
          </div>                        
      </div>
        <div class="col-sm-4" *ngIf=" selectedFiles.length>0"> -->
        
        <!-- <button type="button" class="btn btn-primary" (click)="uploadFiles()">Upload All</button> -->
          
        <!-- <button type="button" class="btn btn-primary">Upload All</button>
      </div>
     </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" [disabled]="selectedFiles.length === 0" (click)="onAddImage(selectedFiles)">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div> -->
  













<!-- table -->
<!-- <div class="genCon"> -->





<!-- table -->
<!-- <div class="genCon"> -->
  <div class="container gen-body">
    <div class="row maginTop">
      <div class="col-md-3"><img src="assets/car2.webp" class="img shadow rounded" alt=""></div>
      <div class="col-md-3"><img src="assets/car3.webp" class="img shadow rounded" alt=""></div>
      <div class="col-md-3"><img src="assets/car 1.jpeg" class="img shadow rounded" alt=""></div>
      <div class="col-md-3"><img src="assets/car4.webp" class="img shadow rounded" alt=""></div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-md-3"><img src="assets/car5.jpeg" class="img shadow rounded" alt=""></div>
      <div class="col-md-3"><img src="assets/car6.webp" class="img shadow rounded" alt=""></div>
      <div class="col-md-3"><img src="assets/car7.jpeg" class="img shadow rounded" alt=""></div>
      <div class="col-md-3"><img src="assets/car8.jpeg" class="img shadow rounded" alt=""></div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-md-3"><img src="assets/car5.jpeg" class="img shadow rounded" alt=""></div>
      <div class="col-md-3"><img src="assets/car6.webp" class="img shadow rounded" alt=""></div>
      <div class="col-md-3"><img src="assets/car7.jpeg" class="img shadow rounded" alt=""></div>
      <div class="col-md-3"><img src="assets/car8.jpeg" class="img shadow rounded" alt=""></div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-md-3"><img src="assets/car5.jpeg" class="img shadow rounded" alt=""></div>
      <div class="col-md-3"><img src="assets/car6.webp" class="img shadow rounded" alt=""></div>
      <div class="col-md-3"><img src="assets/car7.jpeg" class="img shadow rounded" alt=""></div>
      <div class="col-md-3"><img src="assets/car8.jpeg" class="img shadow rounded" alt=""></div>
    </div>
  </div>

<!-- </div> -->
  <app-footer></app-footer>