<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" #modal aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <form (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Request</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <!-- Sidebar -->
        <!-- <div class="d-flex"> -->
        <!-- <div class="col-md-3"> -->
          <!-- <div class="sidebar col-md-3">
    
            <ul class="list-group">
              <li class="list-group-item">Sidebar Item 1</li>
              <li class="list-group-item">Sidebar Item 2</li>
          
            </ul>
          </div> -->
        <!-- </div> -->
        <!-- </div>
      </div> -->
      <!-- <form (ngSubmit)="onSubmit()"> -->
        <!-- <div class="col-md-9">
      <div id="fileSelector">
        <input type="text" [(ngModel)]="vehicleName" name="vehicleName" placeholder="name of vehicle">
        <br>
        <input type="text" [(ngModel)]="vehicleDescription" name="vehicleDescription" placeholder="description of vehicle">
        <br>
         <input (change)="fileSelect($event)" type="file" name="fileUplaod" #fileUpload hidden multiple> 
       <button (click)="fileUpload.click()" type="button" class="btn btn-dark"> Upload Image</button> -->
  
<!--   
       <div>
          <div class="row uploadList" *ngFor="let item of selectedFiles">
            <div class="col-sm-4">{{item.name}}</div>
            <div class="col-sm-4">
                <div class="progress">
                </div>
            </div>
            <div class="col-sm-4">
                    <button type="button" class="btn btn-danger" (click)="removeFile(item)">Remove File</button>
            </div>
        </div>                        
    </div>
      <div class="col-sm-4" *ngIf=" selectedFiles.length>0">
        
      <button type="button" class="btn btn-primary">Upload All</button>
    </div>
   </div>
   </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       <button type="submit" class="btn btn-primary" [disabled]="selectedFiles.length === 0" (click)="onAddImage(selectedFiles)">Submit</button> -->
      <!-- <button type="submit" class="btn btn-primary" [disabled]="selectedFiles.length === 0" (click)="addVehicle()">Submit</button>
    </div>
   </form> -->
  <!-- </div>
  </div>
  </div>    -->
