 .sideDes{
    padding-top: 136px;
 
    
}

/* .sideDes li{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid grey;
    cursor: pointer;
} */


.sideLin{
   
   height: 100%;
}

.sideCol{
    background-image: linear-gradient(to right, rgb(3, 3, 121), rgb(197, 194, 194),  rgb(3, 3, 121)); 
    height: 100vh;
       
}

