
<!-- <div class="container-fluid genCon"> -->
  <!-- <div class="row"> -->
     <!-- <div class="col-md-3 sideLin sideCol">
      <app-side-bar></app-side-bar>
   

    </div> -->
   
    
    <!-- <div class="col-md-9 sideDes tableCon"> -->
  <h5>List of Request</h5>
  <app-search (search)="onSearch($event)"></app-search>
  <!-- <input type="text" [(ngModel)]="searchQuery" placeholder="Search by description or name"> -->
  <table class="table mt-5 table-primary table-striped">
    <thead>
      <tr>
        <th scope="col">S/N</th>
        <th scope="col">Name of Vehicle</th>
        <th scope="col">Description of Vehicle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let description of filteredImageDescriptions; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ description.vehicleName }}</td>
        <td>{{ description.vehicleDescription }}</td>
      </tr>
    </tbody>
  </table>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
